*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70vw;
    margin: 50px auto;
    height: 50vh;
}

.slider {
    height: 100%;
    position: relative;
    display: flex;
}
#carousel {
    height: 100%;
    background-color: yellow;
    width: 80%;
}
.image-wrapper {
    height: 100%;
    display: none;
    position: relative;
}

.image, .imageMini {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.text {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    padding: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    
}

.image-wrapper.d-block {
    display: block;
}
.btn.hide {
    display: none;
}

.btn {
    width: 35px;
    height: 35px;
    background-color: gray;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.btn-up {
    top: 10px;
}
.btn-down {
    bottom: 10px;
}

.miniaturesContainer {
    width: 20%;
    height: 100%;
}

.miniature {
    height: calc(100% / 5);
    width: 100%;
    background-color: red;
    opacity: 0.5;
}
.fullOpacity {
    opacity: 1;
    padding: 2px;
}